{% extends 'bases/home.html' %}


{% block content %}
    
<div class="container">
    <div class="row">
        <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
           <a href="test1.html">
                <div class="card test-card mb-4">
                    <div class="illustration center-content">
                        <img src="ressources/images/svg/quiz.svg" class="img-fluid" style="max-height: 130px">
                    </div>
                    <h1>test 1</h1>
                </div>
           </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <a href="test2.html">
                <div class="card test-card mb-4 ">
                    <div class="illustration center-content">
                        <img src="ressources/images/svg/hello.svg" class="img-fluid" style="max-height: 130px">
                    </div>
                    <h1>test 2</h1>
                </div>
           </a>
        </div> -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <a href="epreuve.html">
                <div class="card test-card mb-4">
                    <div class="illustration center-content">
                        <img src="ressources/images/svg/playground.svg" class="img-fluid" style="max-height: 130px">
                    </div>
                    <h1>test 3</h1>
                    <p class="home-card_subtitle text-center">cursus front-end</p>
                </div>
           </a>

           <!-- Modal -->
            <!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle">Spécialisation</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div class="note center-content u-pd-10 mb-5">
                            <h4 class="mb-0" style="font-weight: bold;text-align: center;width: 80%; margin: auto; color: #13b1b1;line-height: 2.3rem;">
                                Pour la suite de l'aventure, vous devez choisir une
                                spécialité dans laquelle vous souhaiteriez poursuivre
                                l'aventure nanienne
                            </h4>
                        </div>
                        
                            <div class="new">
                                <form action="#">
                                    <p>
                                        <input type="radio" id="test1" name="radio-group" checked>
                                        <label for="test1">Front end</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="test2" name="radio-group">
                                        <label for="test2">Javascript backend</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="test3" name="radio-group">
                                        <label for="test3">Python (django)</label>
                                    </p>
                                    <button type="submit" class="btn1"> valider</button>
                                </form>
                            </div>
                    </div>
                </div>
                </div>
            </div> -->

        </div>
    </div>
</div>

{% endblock content %}
    