{% extends 'bases/home.html' %}


{% block content %}
<div id="app">
    <div class="login-card">
        <div>
            <div class="clip-each clip-solid">
                <span class="social-each">
                </span> 
            </div>	

            <svg class="clip-svg">
                <defs>
                    <clipPath id="hexagon-clip" clipPathUnits="objectBoundingBox">
                        <polygon points="0.25 0.05, 0.75 0.05, 1 0.5, 0.75 0.95, 0.25 0.95, 0 0.5" />
                    </clipPath>
                </defs>
            </svg>
        </div>

        <h1 class="text-center mb-5">Bienvenue</h1>
        
        <form action="" method="post" v-on:keyup.enter="login">
            {% csrf_token %}
            <div v-if="isSuccess" class="alert alert-success" role="alert">
                ${ message }
            </div>
            <div v-if="error" class="alert alert-danger" role="alert">
                ${ message }
            </div>
            <div class="form-group">
                <input  v-model="username" type="text" class="form-control" placeholder="Nom d'utilisateur">
                <!-- <small class="form-text text-error">We'll never share your email with anyone else.</small> -->
            </div>
            <div class="form-group">
                <input  v-model="password" type="password" class="form-control" placeholder="Mot de passe">
                <!-- <small  class="form-text text-error">We'll never share your email with anyone else.</small> -->
            </div>
            <button v-on:click="login" type="button" class="btn btn1" >Connexion</button>
            <div v-if="loader" class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </form>
    </div>

</div>

{% endblock content %}
    