<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> NaN - concours </title>

        <!-- stylesheet ***************************************** -->
        <link rel="stylesheet" href="ressources/css/bootstrap.min.css">
        <link rel="stylesheet" href="ressources/css/main.css">

        <!-- favicons  ****************************************** -->
        <link rel="apple-touch-icon" sizes="57x57" href="ressources/images/favicons.ico/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="ressources/images/favicons.ico//apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="ressources/images/favicons.ico//apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="ressources/images/favicons.ico//apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="ressources/images/favicons.ico//apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="ressources/images/favicons.ico//apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="ressources/images/favicons.ico//apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="ressources/images/favicons.ico//apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="ressources/images/favicons.ico//apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="ressources/images/favicons.ico//android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="ressources/images/favicons.ico//favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="ressources/images/favicons.ico//favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="ressources/images/favicons.ico//favicon-16x16.png">
        <link rel="manifest" href="ressources/images/favicons.ico//manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="images/favicons.ico/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!-- jquery ******************************************** -->
        <script src="ressources/js/jquery.min.js"></script>
        
    </head>
    <body>

        <section class="main center-content">
            <div class="main-navbar">
                <div id="user-circle" class="profil" style="background: url(ressources/images/photo.png) center no-repeat; background-size: cover;">&nbsp;</div>
                <div id="dropdown-user" class="profil-dropdown"  >
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="profil.html">Profil</a></li>
                        <li><a href="login.html">Déconnexion</a></li>
                    </ul>
                </div>
                <p class="nan" >Not A Number</p>

            </div>

            
            {% block content %}
                
            {% endblock content %}
                

            <div class="copyright">
                <h4>plateforme concours</h4>
                <h5>© DevsFront - Not A Number</h5>
            </div>
        </section>
        
        <!-- script ****************************************** -->
        <script src="ressources/js/bootstrap.min.js"></script>
        <script src="ressources/js/main.js"></script>
       


    </body>
</html>